ruby:
  if comment.replies.present?
    color = Random.bytes(3).unpack1('H*')
    replies_count = comment.replies.count
  else
    color = local_assigns[:color] || Random.bytes(3).unpack1('H*')
    replies_count = (local_assigns[:replies_count] || comment.replies.count)
  end

  left_padding = [10 - replies_count, 5].max
  border_width = [replies_count, 5].min
  div_style = "border-left: solid ##{color} #{border_width}px; margin-left: 5px; padding-left: #{left_padding}px"
  
  can_add_comment = can?(:add_comment)
  can_edit_comment = can?(:edit_comment) || (can?(:edit_own_comment) && comment.author == current_user)
  can_restore_comment = (can?(:restore_comment) || (can?(:restore_own_comment) && comment.author == current_user)) && comment.children.count > 0
  can_delete_comment = can?(:delete_comment) || (can?(:delete_own_comment) && comment.author == current_user)

.row
  .comment-block.pb-1 comment_id=(comment.id)
    . style=(div_style)
      .row.comment-header
        .col-1.mr-3
          img.rounded-circle src=(comment.author.avatar_url || "https://avatars.dicebear.com/api/bottts/a.svg") width="50px" height="auto"
        .col.my-auto
          = render "contents/content_info", content: comment

      .row.comment-body.p-2
        .col-12
          = comment.body

      - if can_edit_comment || can_restore_comment ||can_delete_comment
        .row
          .col
            .actions
              = form_for [@content, comment], method: :delete do |f|
                ul.list-group.list-group-horizontal.comment-actions
                  - if can_add_comment
                    = action_link "Reply", :primary, onclick: "window.comment_toggle_reply_view(this, true)"
                  - if can_edit_comment
                    = action_link "Edit", :secondary, onclick: "window.comment_toggle_edit_view(this, true)"
                  - if can_restore_comment
                    = action_link "Restore", :warning, onclick: "window.comment_toggle_restore_view(this, true)"
                  - if can_delete_comment
                    = action_link "Delete", :danger, onclick: "$(this).closest('form').submit()"

      - uuid = SecureRandom.uuid
      - if can_add_comment
        = form_for [@content, Comment.new], html: { class: "reply-form form", id: "new_comment_#{uuid}" } do |f|
          .row.comment-reply.hidden
            .col-9
              = f.hidden_field :replying_to_id, value: comment.id, id: "replying_to_id_#{uuid}"
              = f.text_area :body, class: "form-control", rows: "5", id: "comment-reply_#{uuid}"
            .col-3.actions.align-self-center
              .btn-group-vertical
                = action_button "Cancel", :secondary, :user, options: { onclick: "comment_toggle_reply_view(this, false)" }
                = action_button "Submit", :submit, :user

      - if can_edit_comment
        = form_for [@content, comment], html: { class: "edit-form form", id: "edit_comment_#{uuid}" } do |f|
          .row.comment-edit.hidden
            .col-9
              = f.text_area :body, class: "form-control", rows: "5", id: "comment-edit_#{uuid}"
            .col-3.actions.align-self-center
              .btn-group-vertical
                = action_button "Cancel", :secondary, :user, options: { onclick: "comment_toggle_edit_view(this, false)" }
                = action_button "Submit", :submit, :user

      - if can_restore_comment
        = form_for [@content, comment], url: get_versions_page_comment_path(@content.id, comment.id), html: { class: "restore-form form", id: "restore_comment_#{uuid}" } do |f|
          .row.comment-restore.hidden
            .col-9
              .card
                .card-body.version-list
                  | Loading...
            .col-3.actions.align-self-center
              .btn-group-vertical
                = action_button "Cancel", :secondary, :user, options: { onclick: "comment_toggle_restore_view(this, false)" }

- if comment.replies.present?
  - comment.replies.active.each do |reply|
    = render reply, color: color, replies_count: replies_count

css:
  .comment-actions .list-group-item {
    padding: 3px;
    border: none;
  }