= form_for [@content, Comment.new] do |f|
  .card.mb-3
    h5.card-header
      | Leave a Comment:
    .card-body
      .form-group
        = f.text_area :body, class: "form-control", rows: "3"

      = action_button "Submit", :submit