= content_for :header do
  | Edit #{resource_name.to_s.humanize}

= content_for :body do
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = render "devise/shared/error_messages", resource: resource
    .row
      .col-md-6
        h3 User details

        .form-group
          = f.label :first_name, class: "control-label"
          small.form-text.text-muted
          = f.text_field :first_name, class: "form-control", onchange: "window.reloadAvatars();"

        .form-group
          = f.label :last_name, class: "control-label"
          small.form-text.text-muted
          = f.text_field :last_name, class: "form-control"


        .form-group
          = f.label :nickname, class: "control-label"
          small.form-text.text-muted
          = f.text_field :nickname, class: "form-control", onchange: "window.reloadAvatars();"

        = form_radio_button_data_collection(f, :sex, %i(unknown male female))

        .form-group.required
          = f.label :email, class: "control-label"
          br
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", required: true
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          div
            | Currently waiting confirmation for: #{resource.unconfirmed_email}

      .col-md-6
        h3 Avatar

        .row
          .col
            | Current avatar:
            .current_avatar
              img.rounded-circle.m-1 src=(f.object.avatar_url || "https://avatars.dicebear.com/api/bottts/a.svg") width="50px" height="auto"
          .col
            | Selected avatar:
            .selected_avatar
              img.rounded-circle.m-1 width="50px" height="auto"

        = f.hidden_field :avatar_url

        .py-2

        table.avatar-preview.table.table-responsive
          thead
            th.text-center colspan=6
              | Available avatars
          tbody

        small.form-text.text-muted
          | Available avatars are based on nickname / first name

    .row
      .col-md-6
        h3 Password

        .form-group
          = f.label :password
          small.form-text.text-muted
            | (leave blank if you don't want to change it)
          = f.password_field :password, autocomplete: "new-password", class: "form-control"
          - if @minimum_password_length
            small.form-text.text-muted
              = @minimum_password_length
              | characters minimum
        
        .form-group
          = f.label :password_confirmation
          br
          = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"
        
        .form-group
          = f.label :current_password
          small.form-text.text-muted
            | (we need your current password to confirm your changes)
          = f.password_field :current_password, autocomplete: "current-password", class: "form-control submit_on_return"

    = render "devise/shared/submit_action", label: "Update"
    
    hr

    h3 Cancel my account
    .form-group
      | Unhappy? 
    .form-group.pt-2
      .d-flex.justify-content-center
          = action_button "Cancel my account", :delete

  javascript:
    $(document).on('turbolinks:load', function () {
      window.reloadAvatars();
    });
