- readonly = action_name == 'show'

= form_for @content, html: { class: "form" } do |f|
  .row
    .col-md-6
      h4 User

      = form_checkbox(f, :active, readonly: readonly)
      = form_text_field(f, :first_name, readonly: readonly)
      = form_text_field(f, :last_name, readonly: readonly)
      = form_text_field(f, :nickname, readonly: readonly)
      = form_radio_button_data_collection(f, :sex, %i(unknown male female), readonly: readonly)
      = form_text_field(f, :email, readonly: true)
      = form_text_field(f, :avatar_url, readonly: readonly)
    
    .col-md-6
      h4 Bans
      - if readonly
        - if @content.active_ban?
          .text-danger
            = "User have active BAN until #{I18n.l(@content.ban.valid_until)}"
        - else
          .text-success
            | User is not banned
      - else
        = f.fields_for :ban do |ff|
          = form_checkbox(ff, :active)
          = form_datetime_field(ff, :valid_until)
          = form_text_field(ff, :reason)

    hr

  .py-2
  = render "/shared/action_buttons"