- content_for :breadcrumbs do
  = render "shared/breadcrumbs"

- content_for :title do 
  = @content.try(:title) || @content.try(:name) || @content.try(:display_name)

.card
  .card-body
    = render "show"
