li.list-group-item
  .row
    .col.value
      = tag.name
    - if can?(:delete_tag)
      .col-1.px-1
        = link_to self.send(:"#{local_assigns[:model_name_s]}_tag_path", local_assigns[:content], local_assigns[:tag]), method: :delete, remote: true do
          i.fa.fa-times.clickable
