- content_for :title do 
  | Tags

.card.mb-3
  .card-body
    ul
      - @contents.joins(:contents).each do |content|
        li
          - if can?(:show, @model_name_s)
            = link_to content.name, content
          - else
            = content.name
        ul
          - content.contents.sort_by(& ->(sub_content) { I18n.transliterate(sub_content.title).downcase }).each do |sub_content|
            li
              - if can?(:show, sub_content.content_type.downcase.to_sym)
                = link_to sub_content.title, sub_content
              - else
                = sub_content.title