$('#names').val(null);
<% if @tags.present? %>
<% @tags.each do |tag| %>
$('#names').parent().find('ul').append('<%= render("tags/tag", content: @parent_content, model_name_s: @model_name_s, tag: tag).html_safe %>');
<% end %>
<% end %>
