- content_for :title do 
  = @content.try(:name)

.card.mb-3
  .card-body
    ul
      - @content.contents.each do |content|
        li
          - if can?(:show, content.content_type.downcase.to_sym)
            = link_to content.title, content
          - else
            = content.title
