ruby:
  content ||= @content
  tags = content.try(:tags)
  if tags
    first_group = tags.first(3)
    others = tags[3..-1]
  end

ul.nav.small
  li.nav-item.pr-2
    i.mr-1.far.fa-calendar 
    = I18n.l(content.try(:published_at) || content.updated_at)
  li.nav-item.pr-2
    i.mr-1.fa.fa-user-circle
    - if can?(:show_user)
      = link_to content.author.try(:display_name), user_path(content.author)
    - else
      = content.author.try(:display_name)
  - if tags.present?
    li.nav-item.pr-2
      i.mr-1.fa.fa-tag
      - first_group.each do |tag|
        span.mr-1
          - if can?(:show_tag)
            = link_to tag.name, tag
          - else
            = tag.name

      - if others.present?
        a data-toggle="collapse" href="#content_tags_#{content.id}" aria-expanded="false" aria-controls="content_tags_#{content.id}"
          | ...

- if others.present?
  div.small.collapse id="content_tags_#{content.id}"
    - others.each do |tag|
      span.mr-1
        - if can?(:show_tag)
          = link_to tag.name, tag
        - else
          = tag.name
