- readonly = @content.parent
= form_for @content, {class: "form-inline"} do |f|
  .form
    .row
      .col-6
        = collapsable(f, :title) do
          - f.text_field :title, class: "form-control", readonly: readonly
      .col-6
        = collapsable(f, :published_at) do
          - f.datetime_field :published_at, class: "form-control", readonly: readonly

    - unless @content.kind_of?(Widget)
      = collapsable(f, :description, false) do
        = f.text_area :description, class: "form-control", readonly: readonly, style: "min-height: 10em; resize: vertical;"

    = collapsable(f, :body) do
      = f.hidden_field :body, id: :content_body

      #editor.p-3.form-control readonly=(readonly) style="height: 20rem !important; overflow: auto;"
        = @content.body.try(:html_safe) || ""

    .py-2
    = render "/shared/action_buttons"
