- @contents.each do |content|
  .card.mb-3
    .card-body
      h2
        = link_to content.try(:title), content

      .pt-2
        = replace_image_tag_with_image(content.try(:description)).try(:html_safe)

    .card-footer
      = render "contents/content_info", content: content

- if can_modify_content?
  .mb-3
    = render "shared/action_buttons" do
      - unpublished_path = self.send(:"unpublished_#{@model_name_p.downcase}_path") rescue nil
      - if unpublished_path && action_name != 'unpublished'
        = action_button 'Show unpublished', :warning, :admin, options: { href: unpublished_path } if can?(:edit, @model_name_s)

.d-flex.justify-content-center
  .mt-5.mb-3
    = paginate @contents
    = page_entries_info @contents
