- if action_name.in?(%w(show))
  - unless @content.protected?
    = action_button "Edit", :edit, :admin if can?(:edit, @model_name_s)
    = action_button "Delete", :delete, :admin if can?(:delete, @model_name_s)
- elsif action_name.in?(%w(index))
  = action_button "Add #{@model_name}", :new, :admin if can?(:add, @model_name_s)
- else
  = action_button("Cancel", @content.persisted? ? :show : :index, :admin)
  = render "save_button"
