= form_for @content, html: { class: "form" } do |f|
  .col-md-6
    .form-group.row
      = f.label :name, class: "col-form-label"
      .col-sm-10
        = f.text_field :name, class: "form-control"

    .form-group.row
      .form-check
        = f.check_box :active, class: "form-check-input"
        = f.label :active, class: "form-check-label"

  hr

    = render "table"
    .py-2
    = render "users"

- if can_modify_content?
  .mb-2
  = render "shared/action_buttons"