- action, permission = permission
- have_permission = @content.permissions.include?(permission)

td
  - if action_name.in?(%w(edit new))
    .form-check
      = check_box_tag "role[permissions][]", permission, have_permission, id: permission, class: "form-check-input"
      = label_tag permission, class: "form-check-label"
        = action.to_s.humanize
  - else
    . class="text-#{have_permission ? 'success' : 'danger'}"
        = action.to_s.humanize
