table.table-sm.table-striped.w-100.table-responsive
  thead
    tr
      th Model
      th style="text-align: center;" colspan="10"
        | Permissions
    tbody
      - @model.permission_hash.each_pair do |model_name, permissions|
        tr
          td
            = model_name.capitalize
          = render partial: "permission", collection: permissions
