h4 Users

- if action_name.in?(%w(edit new))
  = hidden_field_tag "role[user_ids][]"
  - User.active.each do |user|
    .form-check
      - id = user.id
      = check_box_tag "role[user_ids][]", id, @content.users.include?(user), class: "form-check-input"
      = label_tag id, class: "form-check-label"
        = user.display_name
- else
  ul
    - @content.users.active.distinct.sort_by(& -> (u) { u.display_name.downcase }).each do |user|
      li
        = user.display_name
