.col
  - if @icon_name.present?
    .row.d-flex.justify-content-center
      i style=('height: 50vh; width: 50vw;') class=("mr-1 fa fa-#{@icon_name}")
  .row.d-flex.justify-content-center.pt-5
    h2 
      = @error_message
