ruby:
  image_preview = ->(image){
    {
      name: image.blob.filename.to_s
    }.merge(image.blob.metadata.slice(:width, :height)).map do |key, value|
      "#{key.to_s.capitalize}: #{value}"
    end.join(', ')
  }
  image_data = [
    content_tag(:input, nil, type: :checkbox, value: image.id, class: 'image_checkbox'),
    image.id,
    content_tag(
      :a,
      image_tag(image.variant(resize_to_limit: [100, 100]), class: "border border-primary"),
      href: url_for(image),
      data: {
        title: image_preview.call(image),
        lightbox: image.id
      }
    ),
    image.blob.filename,
    I18n.l(image.created_at),
    image.blob.metadata.slice(:width, :height).map{|key, value| "#{key.capitalize}: #{value}"}.join('<br />').html_safe
  ]

tr id=("image_#{image.id}")
  - image_data.each do |column|
    td.align-middle
      = column
