ruby:
  columns = [
    content_tag(:input, nil, type: :checkbox, onclick: "$('.image_checkbox').prop('checked', $(this).is(':checked'))"),
    'ID',
    'Preview',
    'Filename',
    'Created at',
    'Dimensions'
  ]

#list_of_images
  table.table
    thead
      - columns.each do |column|
        th
          = column

    tbody
      - @content.all_images.each do |image|
        = render 'images/row', image: image
    
  #image_action_buttons
    .d-flex.justify-content-center
      .form-group.mb-0
        .btn-group
          = action_button("Add selected images", :primary, :user, options: { onclick: "window.addImageTagsToEditor();" })
          = action_button("Add selected images as Gallery", :secondary, :user, options: { onclick: "window.addGalleryTagToEditor();" })
          = action_button("Remove selected images", :danger, :user, options: { onclick: "window.removeImages(this);" })
