$form = $("#image_upload");
$form[0].reset();
$('#upload_button').toggle('enable');

<% if @message.present? %>
$form.find('#success').html("<%= @message %>")
<% else %>
$form.find('#error').html("<%= @errors %>");
<% end %>

<% if @content.all_images.present? %>
  $("#list_of_images").replaceWith('<%= render(partial: 'images/table') %>');
  
  <% if image_id = @image_ids.last %>
    $element = $("#image_" + <%= image_id %>);
    $element.addClass("border-success border-bottom");
    $('html, body').animate({ scrollTop: $element.offset().top }, 750);
  <% end %>
<% end %>
