.hidden {
  display: none !important
}

.btn, .a {
  cursor: pointer
}

.navbar-brand {
  overflow: auto;
  white-space: normal !important;
}

.breadcrumb {
  padding-left: 5px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  background-color: inherit !important;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}

.w-fc {
  width: fit-content;
}

.capitalize {
  text-transform: capitalize;
}

.input_with_error {
  border-color: red !important;
  background-color: #f8d7da !important;
}

.os {
  overflow: auto;
}

.clickable {
  cursor: pointer
}

body>nav {
  opacity: 1;
  transition: opacity 0.5s;
}

body>nav.hide {
  opacity: 0;
}

img.responsive {
  max-width: 100%;
  width: 100%;
  height: auto;
}

@media (max-width: 800px) {
  .card-body {
    padding: 0px !important;
  }

  .card-header {
    border-radius: 15px 15px 0px 0px!important;
  }
  
  .card-footer {
    border-radius: 0px 0px 15px 15px!important;
  }
  
  .card {
    border: none !important;
  }

  .read-more {
    margin-bottom: 0.5rem !important;
  }
}
