- if @_controller.respond_to?(:index) && action_name != "index"
  nav aria-label="breadcrumb"
    ol class="breadcrumb"
      li class="breadcrumb-item"
        = link_to @model_name_p, action: :index
      li class="breadcrumb-item active"
