- if @content.errors.any?
  #error_explanation.alert.alert-danger
    h3 = "#{pluralize(@content.errors.count, "error")} prohibited this #{@model_name_s} from being saved:"
    ul
      - @content.errors.full_messages.each do |message|
        li = message

= render "/shared/" + (action_name.in?(%w(new edit create)) ? "edit" : "show")
