- content_for :breadcrumbs do
  = render "shared/breadcrumbs"

- content_for :title do
  = @content.try(:title) || @content.try(:name) || @content.try(:display_name) || "New #{@model_name}"

.row
  .col
    .card.mb-3
      .card-body.os
        = render "/#{@model_name_p.downcase}/form"

- if @content.persisted? && (@content.respond_to?(:images) || @content.respond_to?(:tags) || @content.respond_to?(:parent))
  .row
    - if (@content.respond_to?(:parent) && @content.parent.nil?) && @content.respond_to?(:images)
      .col-sm-12.mb-3
        = collapsable_card('Images') do
          .col-sm-12.col-md-6.my-2
            - if can?(:add_image)
              form#image_upload enctype="multipart/form-data"
                .row
                  .col
                    .row
                      .form-group
                        = label_tag :images, "Select image(s) you want to upload"
                        = file_field_tag :images, name: "images[]", class: "form-control-file", accept:'image/*', onchange: "$('#image_upload').find('#error, #success').html(null);", multiple: true
                    .row
                      .form-group
                        = action_button "Upload", :primary, :user, options: {onclick: "window.uploadImage('#{upload_image_path}', this);", id: 'upload_button'}

                    #error.text-danger.font-weight-bold
                    #success.text-success

          - if @content.all_images.present?
            = render 'images/table'
          - else
            #list_of_images
              = "There are no images for this #{@model_name}"

    - if @content.respond_to?(:parent)
      - if can?(:restore, @model_name_s) || (can?(:restore_own, @model_name_s) && @content.author == current_user)
        .col-sm-12.col-md-6.mb-3
          = collapsable_card('Previous versions') do
            - parent = @content.parent ? @content.parent : @content
            - versions = parent.children.order(updated_at: :desc)
            - if versions.present?
              - current_tag = content_tag(:div, class: "text-center"){ content_tag(:span, "current", class: "badge badge-warning align-self-center") }
              - selected_tag = content_tag(:div, class: "text-center"){ content_tag(:span, "selected", class: "badge badge-info align-self-center") }

              table.table.table-borderless.table-responsive
                tbody
                  - ([parent] + versions).each_slice(3) do |slice|
                    tr
                    - slice.each do |version|
                      ruby:
                        label = I18n.l(version.updated_at)
                        parent = version == parent
                        active = version == @content

                        label += '<br />' + current_tag if parent
                      
                      td class=("#{'bg-primary' if active}")
                        = link_to(label.html_safe, url_for(controller: @model_name_p.downcase, action: :edit, id: version.id), class: "#{'text-white' if active}")
            - else
              | No previous versions

    - if (@content.respond_to?(:parent) && @content.parent.nil?) && @content.respond_to?(:tags)
      - if can?(:add_tag) || can?(:delete_tag)
        .col-sm-12.col-md-6.mb-3
          = collapsable_card('Tags') do
            = form_with url: self.send(:"create_tags_#{@model_name_s}_tags_path", @content) do |f|
              = f.text_field :names, class: "form-control", placeholder: "Enter TAGs delimited by ','", onKeyUp: "window.submitOnEnter(event, this);"

              ul.list-group.mt-2
                - @content.tags.each do |tag|
                  = render 'tags/tag', content: @content, model_name_s: @model_name_s, tag: tag

            - if can?(:delete_tag)
              = link_to "Delete all TAGs", self.send(:"delete_tags_#{@model_name_s}_tags_path", @content), method: :delete, remote: true
