ruby:
  flashes = {
    info: flash[:notice],
    success: flash[:success],
    warning: flash[:warning],
    danger: flash[:alert] || flash[:error]
  }
  
  model_instance = @content || @user
  model_instance_errors = model_instance&.errors

- flashes.each_pair do |flash_type, flash_message|
  = flash_message(flash_type, flash_message).try(:html_safe)

javascript:
  $(document).on('turbolinks:load', function () {
    $(".input_with_error").removeClass("input_with_error")
  });

- if model_instance_errors.present?
  - elements_selector =  model_instance_errors.keys.map(& ->(key) { "##{model_instance.class.name.downcase}_#{key}" }).join(', ')

  javascript:
    $(document).on('turbolinks:load', function () {
      $("#{elements_selector}").addClass("input_with_error")
    });
