- content_for :title do
  = @model_name_p

.card
  .card-body
    ul
      - @model.active.each do |content|
        li
          = link_to (content.try(:title) || content.try(:name) || content.try(:display_name)), content

    - if can_modify_content?
      .mb-2
      = render "shared/action_buttons"