- menu = Menu.find_by_name("main")
- if menu
  nav class="navbar navbar-expand-lg navbar-dark bg-dark"
    div class="container"
      a class="navbar-brand" href="/"
        = Rails.cache.fetch('site_name') { Setting.find_by(name: 'site_name' ).value }
      button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
        span class="navbar-toggler-icon"

      div class="collapse navbar-collapse" id="navbarResponsive"
        ul class="navbar-nav ml-auto"
          - Menu.find_by_name("main").menu_items.each do |menu_item|
            li.nav-item
              = link_to menu_item.title, menu_item.link, class: "nav-link", title: menu_item.description

          - if user_signed_in?
            li.nav-item
              = link_to current_user.display_name, edit_user_registration_path, class: "nav-link"

          .pl-1
          .border-left.border-secondary
          .pr-1

          li.nav-item
            = render "shared/login_link"
