/ The container tag
  - available local variables
    current_page : a page object for the currently displayed page
    total_pages  : total number of pages
    per_page     : number of items to fetch per page
    remote       : data-remote
    paginator    : the paginator that renders the pagination tags inside

== paginator.render do
  nav
    ul.pagination
      - unless current_page.first?
        li.page-item
          .page-link
            == first_page_tag

      - unless current_page.first?
        li.page-item
          .page-link
            == prev_page_tag

      - each_page do |page|
        li.page-item class=(page.current? ? ' active' : '')
          .page-link
            - if page.display_tag?
              == page_tag page
            - elsif !page.was_truncated?
              == gap_tag

      - unless current_page.last?
        li.page-item
          .page-link
            == next_page_tag

      - unless current_page.last?
        li.page-item
          .page-link
            == last_page_tag
