= form_for @content, html: { class: "form" } do |f|
  .row
    .col-md-12
      .form-group
        - %i(name description).each do |field|
          .row
            .col-md-4
              label.col-form-label for=(field)
                = field.to_s.capitalize
            .col-md-8
              div.form-control-plaintext id=(field)
                = f.text_field field, class: "form-control", readonly: field == :name
  .row
    .col-md
      label.col-form-label
        | Menu items:
      ol#menu_items.mb-0

      i.a.fa.fa-plus onclick='addMenuItem();'

  hr

  .py-2
  = render "/shared/action_buttons"

javascript:
  $(document).ready(function(){
    $("#menu_items").append(#{render_js_menu_items})
    $("#menu_items").sortable();
  })

  saveMenuItem = function(element) {
    $menu_item = $(element).closest(".menu_item")
    $(["title", "description", "link"]).each(function(i, e) {
      value = $menu_item.find("input." + e).val()
      span = $menu_item.find('span.' + e)
      hiddenField = $menu_item.find('input[field="' + e + '"]')
      
      if (e == "title") {
        span.toggleClass("text-info", true)
      }
      
      hiddenField.val(value)
      span.html(value)
    })

    closeMenuItemEditation(element)
  }

  closeMenuItemEditation = function(element) {
    $menu_item = $(element).closest(".menu_item")
    $menu_item.find(".edit_menu_item").html(null)
  }

  editMenuItem = function(element) {
    $menu_item = $(element).closest(".menu_item")
    clazz = 'open'
    if ($menu_item.hasClass(clazz)) {
      $menu_item.removeClass(clazz);
      closeMenuItemEditation(element);
      
      return
    }
    
    $menu_item.addClass(clazz)
    html = []
    $(["title", "description", "link"]).each(function(i, e) {
      html.push(
        `
          <div class="form-group row">
            <label class="col-sm-4 col-form-label capitalize">%l</label>
            <div class="col-sm-8">
              <input type="text" class="form-control %l" value="%v">
            </div>
          </div>
        `.replace(/%l/g, e).replace('%v', $menu_item.find('span.' + e).text())
      )
    })

    html.push(
      `
        <div class="form-group">
          <div class="d-flex justify-content-center">
            <div class="btn-group btn-group-sm">
              <div class="btn btn-secondary" onclick="closeMenuItemEditation(this);">
                Cancel
              </div>
              <div class="btn btn-primary" onclick="saveMenuItem(this);">
                Save
              </div>
            </div>
            <div class="btn-group btn-group-sm ml-2">
              <div class="btn btn-danger" onclick="deleteMenuItem(this);">
                Delete
              </div>
            </div>
          </div>
        </div>
      `
    )

    $menu_item.find(".edit_menu_item").html(html)
  }

  deleteMenuItem = function(element) {
    $(element).closest(".menu_item").remove()
  }

  menuItemTemplate = function(id, title, description, link) {
    return `
      <li class="menu_item" draggable="false">
        <input
          type="hidden"
          name="menu_items[%id][title]"
          id="menu_items_%id_title"
          field="title"
          value="%title"
        />
        <input
          type="hidden"
          name="menu_items[%id][description]"
          id="menu_items_%id_description"
          field="description"
          value="%description"
        />
        <input
          type="hidden"
          name="menu_items[%id][link]"
          id="menu_items_%id_link"
          field="link"
          value="%link"
        />
        <strong>
          <span class="title">%title</span>
        </strong>
        (
        <span class="description">%description</span>
        )
        <i class="ml-1 a fa fa-arrow-down" onclick="moveMenuItem(this, 'down');" ></i>
        <i class="a fa fa-arrow-up" onclick="moveMenuItem(this);" ></i>
        <i class="a fa fa-pencil-alt" onclick="editMenuItem(this);" menu_item_id="%id" ></i>
        <br />
        <span class="link">%link</span>
        <div class="row">
          <div class="col-md-12">
            <div class="edit_menu_item px-2 mt-3"/>
          </div>
        </div>
      </li>
    `.replace(/%id/g, id).replace(/%title/g, title).replace(/%description/g, description).replace(/%link/g, link)
  }

  addMenuItem = function() {
    id = + new Date()
    
    $("#menu_items").append(menuItemTemplate(id, "", "", ""))
    $("#menu_items").find("[menu_item_id='" + id + "']").click()
  }

  moveMenuItem = function(element, direction) {
    $li = $(element).closest('li')

    if (direction == 'down') {
      $li.insertAfter($li.next())
    } else {
      $li.insertBefore($li.prev())
    }
  }
