.row
  .col-md-6
    .form-group
      - %i(name description).each do |field|
        .row
          .col-md-6
            label.col-form-label for=(field)
              = field.to_s.capitalize
          .col-md-6
            div.form-control-plaintext id=(field)
              = @content.send(field)
.row
  .col-md
    label.col-form-label
      | Menu items:
    ol#menu_items
      - @content.menu_items.each do |menu_item|
        li
          strong
            = menu_item.title
          
          = " (%s)" % menu_item.description
          br/
          = menu_item.link

- if can_modify_content?
  .mb-2
  = render "shared/action_buttons"
