= content_for :header do
  | Resend confirmation instructions

= content_for :body do
  = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
    = render "devise/shared/error_messages", resource: resource
    
    .form-group
      = f.label :email
      = f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control"
    
    = render "devise/shared/submit_action", label: "Resend confirmation instructions"
