.comments {
  display: grid;
  
  &-wrapper {
    width: inherit;
    overflow-x: scroll;
  }
}

.comment {
  &-wrapper {

  }

  &-nesting {

  }

  &-block {
    width: 500px;
  }

  &-header {
    .actions {
      display: none
    }
  }

  &-header:hover {
    .actions {
      display: inline-block
    }
  }

  &-body {

  }

  &-reply {

  }

  &_version {
    &:hover {
      cursor: pointer;
      color: #007bff;
    }
  }
}
