.card.mb-3 
  h5.card-header Search
  .card-body
    = form_tag search_path, {method: :get, class: "form-inline"} do |f|
      .input-group
        = text_field :value, nil, value: @search_string, name: 'value', class: 'form-control', placeholder: "Search for..."
        .input-group-append
          = action_button "Go!", :submit

