- if can?(:show_tag)
  .card.mb-3
    h5.card-header
      | Tags
    .card-body
      .row
        .col
          ul.list-group.list-group-flush.w-100
            - Tag.joins(:contents).order(:name).distinct.each do |tag|
              li.list-group-item
                = link_to tag, class: 'd-flex justify-content-between align-items-center' do
                  - concat(tag.name)
                  - concat(content_tag(:span, tag.content_ids.count, class: 'badge badge-primary badge-pill'))
