- widget = Widget.where(parent: nil).first

.card.mb-3
  h5.card-header
    .row
      .col
        = widget.title
  .card-body
    = replace_image_tag_with_image(widget.body).html_safe

    - if can?(:edit_widget)
      .d-flex.justify-content-center
        .form-group.action_buttons.mb-0
          .btn-group
            = action_button "Edit", :primary, :admin, options: { onclick: "window.location.href = '#{edit_widget_path(widget)}'" }
