- if action_name.in?(%w(show))
  = action_button "Edit", :edit, :admin if can?(:edit, @model_name_s)
  = action_button "Delete", :delete, :admin if can?(:delete, @model_name_s)
- elsif action_name.in?(%w(index unpublished))
  = action_button "Add #{@model_name}", :new, :admin if can?(:add, @model_name_s)
- else
  - if @content.persisted? && @content.respond_to?(:parent) && @content.parent
    - if can?(:show, @model_name_s)
      = action_button("Cancel", :show, :admin, @content.parent.id)
    - else
      = action_button "Cancel", :secondary, :admin, options: { onclick: "window.location.href = '#{root_path}'" }
    = action_button("Restore", :restore, :admin, options: {"data-method": :post}) if can?(:restore, @model_name_s)
    = action_button("Delete", :delete, :admin) if can?(:delete, @model_name_s) || can?(:delete_version, @model_name_s) && @content.parent_id.present?
  - else
    - if can?(:show, @model_name_s) && @content.persisted?
      = action_button("Cancel", :show, :admin)
    - elsif can?(:index, @model_name_s)
      = action_button("Cancel", :index, :admin)
    - else
      = action_button("Cancel", :secondary, :admin, options: { onclick: "window.location.href = '#{root_path}'" })
    = render "save_button"
    = action_button("Delete", :delete, :admin) if @content.persisted? && can?(:delete, @model_name_s)
