- content_for :breadcrumbs do
  nav aria-label="breadcrumb"
    ol class="breadcrumb"
      li class="breadcrumb-item"
        = link_to 'Settings', admin_path
      li class="breadcrumb-item active"

- content_for :title do
  | Generic settings

.card
  .card-body
    = form_with url: update_generic_settings_path do |f|
      - @settings.each do |setting|
        - id = "settings[#{setting.id}]"

        .row
          .col-md-3
            .form-group
              = f.label id, setting.name.humanize
          .col-md-9
            .form-group
              = f.text_field id, class: "form-control", placeholder: setting.default_value, value: setting.value
        
      .d-flex.justify-content-center
        .form-group.action_buttons.mb-0
          .btn-group
            = render "crud/save_button"

