= content_for :header do
  | Log in

= content_for :body do
  = form_for(resource, as: resource_name, url: session_path(resource_name), class: "form") do |f|
    .form-group
      = f.label :email
      br
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"

    .form-group
      = f.label :password
      br
      = f.password_field :password, autocomplete: "current-password", class: "form-control submit_on_return"

    - if devise_mapping.rememberable?
      .form-check
        = f.check_box :remember_me, class: "form-check-input"
        = f.label :remember_me, class: "form-check-label"

    = render "devise/shared/submit_action", label: "Log in"
