head
  title
    = [Settings.get('site_name'), yield(:title) ].join(' | ')

  = csrf_meta_tags
  = csp_meta_tag
  meta name="viewport" content="width=device-width, initial-scale=1.0"

  - %w(application bootstrap editor gallery).each do |name|
    = stylesheet_pack_tag('styles/' + name, media: 'all', 'data-turbolinks-track': 'reload')

  - %w(application controllers).each do |name|
    = javascript_pack_tag name, 'data-turbolinks-track': 'reload'
