|<!DOCTYPE html>
html
  = render "layouts/header"

  body
    = render "shared/navigation"
    .container
      .row
        .col-lg.mt-3
          = render "shared/breadcrumbs"
          = render "shared/flashes"
          
          .page-title
            h1
              = yield :title

      .row
        .col-lg-8
          .page-content
            = yield
        
        .col-lg-4
          = render "shared/sidebar"
