- registration = controller_name == 'registrations'

|<!DOCTYPE html>
html
  = render "layouts/header"

  body
    = render "shared/navigation"
    .container.mb-3
      .row
        .col-lg.mt-3
          = yield :breadcrumbs
          = render "shared/flashes"

          - if registration
            .page-title
              h1
                = yield :header

      .row
        .col-md
          .page-content
            - if registration
              .card
                .card-body
                  = yield :body
            - else
              .d-flex.justify-content-center
                .card style='width: 400px;'
                  .card-header
                    = yield :header
                  .card-body
                    = yield :body

                    hr
                    = render "devise/shared/links"
