|<!DOCTYPE html>
html
  = render "layouts/header"

  body
    = render "shared/navigation"
    .container
      .row
        .col-lg.mt-3
          = yield :breadcrumbs
          = render "shared/flashes"
          
          .page-title
            h1
              = yield :title

      .row
        .col-lg
          .page-content
            = yield
