= content_for :header do
  | Change your password

= content_for :body do
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
    = render "devise/shared/error_messages", resource: resource
    = f.hidden_field :reset_password_token
    
    .form-group
      = f.label :password, "New password"
      - if @minimum_password_length
        small.form-text.text-muted
          | (#{@minimum_password_length} characters minimum)
      = f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control"
    
    .form-group
      = f.label :password_confirmation, "Confirm new password"
      = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control submit_on_return"
    
    = render "devise/shared/submit_action", label: "Change my password"
