= content_for :header do
  | Forgot your password?

= content_for :body do
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = render "devise/shared/error_messages", resource: resource
    
    .form-group
      = f.label :email
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
    
    = render "devise/shared/submit_action", label: "Send me reset password instructions"
